[Unit]
Description=ZFS replication service
After=network.target
Requires=network.target

[Service]
ExecStart=/etc/systemd/zfs/zfsendsnap.rb zroot/home
