[Unit]
Description=ZFS snapshot receiver service

[Service]
ExecStart=/home/service/zfsrecvsnap/zfsrecvsnap.rb
StandardInput=socket
StandardOutput=socket
StandardError=journal
